.card {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
}

.img {
    width: 70%;
    height: auto;
    object-fit: fill;
    display: block;
    margin: 0 auto;
}

.body {
    padding: 12px;
    display: grid;
    gap: 8px;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: baseline;
}

.title {
    margin: 0;
    font-size: 18px;
}

.price {
    font-size: 16px;
    font-weight: 700;
}

.author {
    margin: 0;
    font-size: 16px;
    color: #000000;
}

.res {
    margin: 0;
    font-size: 12px;
    color: #4d73b0;
}

.btn {
    border: 0;
    border-radius: 10xp;
    padding: 10px 12px;
    cursor: pointer;
}