<article class="tarjeta">
    <h3 class="nombre">{{ product.nombre }}</h3>
    <img class="img" [src]="product.URLImg" [alt]="product.nombre" />
    <p class="res">Resolucion: {{product.resolucion}}</p>
    <div class="informacion">
        <span class="linea">
            <p class="precio">Precio: ${{product.precio}}</p>
            <p class="artista">Artista: {{product.autor}}</p>
        </span>
        <button [ngClass]="enCarrito ? 'btn quitar' : 'btn agregar'" (click)="onAdd()">{{ enCarrito ? 'Quitar del carrito' : 'Añadir a carrito'}}</button>
    </div>
</article>