@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.barra {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #ff6b6b, #6bcf7f);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    box-sizing: border-box;
    font-family: 'Press Start 2P', curisve;
}

.titulo {
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.derecha {
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn {
    font-family: 'Press Start 2P', curisve;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    transform: scale(1.15);
}

.icono-img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.badge {
    position: absolute;
    top: 8px;
    right: 16px;
    background: red;
    color: white;
    font-size: 8px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: #111;
    color: white;
}

.pie button {
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
}

.pie button:hover {
    color: white;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    width: 500px;
    max-height: 70vh;
    border-radius: 10px;
}

.texto {
    flex: 1;
    min-height: 0;
    padding: 20px;
    overflow-y: auto;
    max-height: 70vh;
}

.modal button {
    width: 100px;
}