<div class="contenedor-carrito">
    <div class="izquierda">
        <h2 class="titulo-carrito">Carrito de compras</h2>
        @if (carrito().length === 0) {
        <div class="vacio">
            <p>Tu carrito está vacío.</p>
            <a routerLink="/catalogo">Ir al catálogo</a>
        </div> } @else {
        <ul class="list">
            @for (producto of carrito(); track producto.id) {
            <li class="item">
                <span class="line">
                <img [src]="producto.URLImg" alt="{{ producto.nombre }}" class="imagen">
                <p class="nombre">{{ producto.nombre }}</p>
                <p class="precio">{{ producto.precio | currency:'MXN' }}</p>
            </span>
                <button class="btn danger" (click)="quitar(producto.id)">Quitar</button>
            </li>
            }
        </ul>
        <p class="subtotal">Subtotal: {{ subtotal() | currency: 'MXN' }}</p>
        <button class="btn" (click)="vaciar()">Vaciar Carrito</button> }
    </div>
    <div class="derecha">
        <p class="total">Total(+IVA): {{ total() | currency:'MXN' }}</p>
        <div #paypalButtonContainer class="paypal"></div>
    </div>
    @if (mostrarModal) {
    <div class="modal-fondo">
        <div class="modal-caja">
            <h3>Mensaje</h3>
            <p>{{ mensajeModal }}</p>
            <button class="modal-btn" (click)="cerrarModal()">Aceptar</button>
        </div>
    </div>
    }
</div>