<div class="contenedor-password">
    <div class="fondo-password">
        <div class="card-password">
            <h1>Cambiar Contraseña</h1>
            <div class="grupo-input">
                <label>Contraseña actual</label>
                <input type="password" [(ngModel)]="passwordActual">
            </div>
            <div class="grupo-input">
                <label>Contraseña nueva</label>
                <input type="password" [(ngModel)]="passwordNuevo">
            </div>
            <p class="error">{{ error ? error : '' }}</p>
            <button class="btn-password" (click)="cambiarPassword()" [disabled]="cargando"> 
                @if (cargando) {
                    Cargando...
                } @else {
                    Cambiar
                }</button>
            <a class="password-link" routerLink="/catalogo">Regresar</a>
        </div>
    </div>
</div>